// Global namespace for footer component
$footer-namespace: "c-footer" !default;

.#{$footer-namespace} {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
