// Global namespace for footer component
$footer-namespace: "c-footer" !default;

.#{$footer-namespace} {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	color: $gray-light;
}
