$font-size-change: 32rem;

html, :root {
	box-sizing: border-box;
	font: 0.875rem/1.75 'Roboto', sans-serif;
	color: $gray-dark;

	@include breakpoint($font-size-change) {
		font-size: 1rem;
	}
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

::selection {
	color: $white;
	background: $primary;
}
