*, ::after, ::before {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

input, button, textarea, select {
    font: inherit;
    appearance: none;
}

input[type=checkbox] {
    appearance: checkbox;
}

input[type=radio] {
    appearance: radio;
}

ul, ol {
    margin-left: 1rem;
    padding-left: 1rem;
}

p, table {
    margin-bottom: 1rem;
}

table {
    border-collapse: collapse;
}

a {
    color: $gray-dark;
}
